#app-opsmap {
    .js-uc-main {
        margin-bottom: 0;
    }

    .js-map-wrap {
        width: 100%;
        height: calc(100vh - 3.25rem);
        display: flex;

        table th {
            color: unset;
        }
    }

    .js-opsmap-controls {
        width: 20%;
        margin: 1rem;
        background-color: white;

        .js-wrapper {
            height: 100%;
            overflow-y: scroll;
            margin-right: -50px;
            padding-right: 35px;
        }
    }

    .js-opsmap {
        width: 60%;
        margin: 1rem 0;
        background-color: white;
        z-index: 1;

        .js-opsmap-image {
            height: calc(100% - 5rem);
            border: 1px solid $border;
            background-color: white;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }

    .js-opsmap-legend {
        width: 20%;
        margin: 1rem;
        background-color: white;

        .js-wrapper {
            height: 100%;
            overflow-y: scroll;
            margin-right: -50px;
            padding-right: 35px;
        }

        ul {
            margin-left: 3rem;

            span {
                margin-left: 0.5rem;
            }
        }

        table.js-zebra {
            tbody {
                tr:nth-child(even) {
                    background-color: #f8f8f8;
                }
            }
        }
    }



    .js-bloc {
        margin: 1.5rem;

        .js-title {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid #ddd;
        }

        .js-subtitle {
            font-size: 0.75rem;
            margin: -0.5rem 0 0.5rem;
        }
    }

    .js-header {
        //border-top: 1px dashed rgba($primary, 0.2);
        //border-bottom: 1px dashed rgba($primary, 0.2);
        background-color: $primary-lightest;
        padding: 1rem 0 1rem 2rem;
        position: relative;
        cursor: pointer;

        span {
            font-size: 1.25rem;
        }

        div {
            display: inline-block;
            float: right;
            margin-right: 1rem;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 0;
            height: 0;
            border: 12px solid transparent;
            border-left-color: $primary;
        }
    }

    .box {
        padding: 0;
    }

    .field {
        .field-label {
            margin-right: 0.5rem;
        }

        .field-body {
            flex-grow: 3;
        }
    }
}
