################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SPB.Service/bin/Debug
/SPB.Service/obj
/SPB.Web/bin/Debug
/SPB.Web/log
/SPB.Web/obj
/SPB.Web/appsettings.Development.json
